<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="MainFolder"             value="C:\Users\ArcayosR\source\repos\1AutoCompleteForm\" />
        <add key="IpmFormFolder"          value="C:\Users\ArcayosR\source\repos\1AutoCompleteForm\IpmForm\" />
        <add key="AcceptanceFormFolder"   value="C:\Users\ArcayosR\source\repos\1AutoCompleteForm\AcceptanceForm\" />
        <add key="IpmFormCompletedFolder" value="C:\Users\ArcayosR\source\repos\1AutoCompleteForm\CompletedForms\" />
    </appSettings>
</configuration>
